.App {
  text-align: center;
}

.bg-image {
  background-image: url("./feh3.png");
}

/* Header */
.nav {
  padding-left: 20px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 0 0 18px 18px;
  box-shadow: 1px 1px 20px 1px #000;
}
/*  */

/* Root Route */
h2 {
  padding-bottom: 7px;
  padding-top: 13px;
}

.unitImg {
  width: 200px;
  border-radius: 100%;
  border: 8px solid #e5d393;
  object-fit: cover;
  height: 250px;
  background-color: white;
}

.container {
  max-width: 1320px;
}

.row {
border-style: groove;
border-width: 3px;
border-radius: 50px;
border-color: black;
padding: 20px 0px;
background: rgb(110 110 110 / 65%);
}